@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 1.2rem;
    font-family: "League Spartan", sans-serif;
}

body  {
    min-height: 100vh;
    display: flex;
    flex-flow: column nowrap;
}

header {
    background-color: #cecdcd;
    color: rgb(0, 0, 0);;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px;
    box-shadow: 0 5px 5px rgb(181, 174, 174);
}

.nav-logo {
    font-size: 30px;
    font-family: "Dancing Script", cursive;
}

#navbar {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav li{
    list-style: none;
    padding: 0 10px;
}

nav li a {
    text-decoration: none;
    font-size: 18px;
    color: #454444;
}

nav li a:hover {
    color: #ffe9cd;
    transition: 0.2s ease;
}

nav li a.active {
    background-color: #ffe9cd;
    border-radius: 10px;
    padding: 5px;
    box-shadow: 0 5px 5px #8a8a8a;
    color: #000000;
}

#hero {
    background-color: bisque;
    height: 500px;
    position: relative;
}

.column {
    float: left;
    height: 500px;
    position: absolute;

}

.column img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover; 
}

.text {
    float: right;
    margin: 10% 10% 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.text h2 {
    padding: 20px 15rem;
}

.text p {
    padding: 20px 10rem;
}

.btn {
    padding: 5px 20px;
}

label[for="password"]
{
    bottom: 200px;
}
::placeholder{
    color: transparent;
}
.my-style::placeholder{
    color: #a5a5a5;
}
button{
    width: 300px;
    position: absolute;
    bottom: 75px;
    padding: 15px 0;
    background-color: #2ebf75;
    color: #ffffff;
    border-radius: 5px ;
    cursor: pointer;
}

.social-icons {
    display: flex;
    gap: 10px;
}

.social-icons img {
    width: 24px; /* Adjust size as needed */
    height: auto;
    transition: opacity 0.3s;
}

.social-icons img:hover {
    opacity: 0.7;
}


